/* styles for all the components of the Planning graph section */

/* graph section styles */
.section-div {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: var(--greysLight02);
  overflow: scroll;
  overflow-y: hidden;
  max-width: 750px;
}

.graph-div {
  display: flex;
  padding: 20px 0;
  /* flex-wrap: wrap; */
  /* width: 80%; */
}

/* graph increase and decrease button styles */
.inc-dec-btn {
  border: 1px solid var(--greysMed01);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 4px;
  cursor: pointer;
}

.graph-btn-icon {
  color: var(--greysMed01);
}
.graph-buttons {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* column styles */

.bar {
  width: 25px;
  height: 100px;
  padding: 5px;
}

.col-bar {
  /* padding: 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--greysMed01);
}

/* time sheet component styles */

.timesheet-section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: rgba(246, 247, 250, 0.8);
  border: 1px solid var(--borderColor);
  /* width: 30%;
  height: 290px; */
}
.timesheet-btn-div {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.budget-btn-icon {
  color: var(--baseMed10);
}

.date-span {
  align-self: center;
  color: var(--baseMed10);
}

.budget-div {
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
  padding-inline-start: 10px;

  /* padding: 5px; */
  color: var(--accentOrange0);
}

.budget-list {
  margin: 5px;
}

.budget-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: var(--baseDark01);
}

/* toggle bar styles */
.togglebar-div {
  display: flex;
  justify-content: center;
  align-self: center;
  /* width: 312px;
  height: 40px; */
  width: fit-content;
  height: 50px;
  border: 1px solid var(--greysLight02);
  border-radius: 5px;
}

.toggle-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70px;
  height: 50px;
  align-items: center;
  padding: 8px 12px;
  color: var(--baseMed10);
  border: 1px solid var(--borderColor);
  cursor: pointer;
}
